@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.pokemon-card{
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 12px;
  margin-top: 20px !important;
}


.policePokemon{
  font-family: 'Press Start 2P', cursive;
  font-size: 8px;
}

.pokemon-card img{
  margin: auto;
}

.pokemon-list{
  display: flex;
  margin-top: 50px;
}
.label{
  display: block;
}

.cartePokemon{
  background-image: url(img/cartePokemon.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  height: 100px;
}
.logonavbar img{
  width: 80px;
  margin-right: 20px;
}

.logo-toast{
  width: 50px;
}
.pokedexh3{
  color: white;
  text-align: center;
  font-size: 15px;
}

.body-poke-list{
background-color:#2f3e46;
}
.label-poke-list{
 
  background-image: url(img/backroundpokelist.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.center{
  justify-content: center;
}

.car-shadow{
  box-shadow: 11px 9px 10px -4px rgba(0,0,0,0.35);
}

.background-pokedex{
  background-image: url(img/testbackround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.pokedex-container{
  border-radius: 17px 17px 17px 17px;
  border: 0.5px solid #434444;
  background-color:#7c8552e0;
  margin-top: 50px;
  margin-bottom: 20px;
}

.title-pokedex{
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: white;

}

.backgroundHome{
  box-shadow: 14px 13px 11px -3px rgba(0,0,0,0.6);
  background-image:url(img/backgroundHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.image-black-white{
  background-image:url(img/noire-blanche.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
.image-in-game{
  background-image:url(img/imageingame.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  padding-bottom: 500px;
}
.avis{
  background-color:#7c8552e0;
  font-family: 'Press Start 2P', cursive;
  font-weight: lighter;
  font-size: xx-small;
}
.home-container{
  padding-top: 100px;
  padding-bottom: 150px;
  padding-left: 100px;
}

.row-carousel{
  margin-top: 100px !important;
}
.carousel-image{
  width: 450px !important;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.carousel-inner{
  display: flex;
  justify-content: space-evenly;
  margin: 3rem;
  margin-right: 12rem;
  overflow: auto;
}
.carousel-indicators{
  display: none !important;
}

.pokemon-titre{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.carousel-inner{
  overflow: initial !important;
}