@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.pokemon-card{
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 10px;
}


.policePokemon{
  font-family: 'Press Start 2P', cursive;
  font-size: 8px;
}

.pokemon-card img{
  margin: auto;
}

.pokemon-list{
  display: flex;
  margin-top: 50px;
}
.label{
  display: block;
}

.cartePokemon{
  background-image: url(img/cartePokemon.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  height: 100px;
}
.logonavbar img{
  width: 80px;
  margin-right: 20px;
}

.logo-toast{
  width: 50px;
}

.body-poke-list{
  background-color:#1111;
}
.label-poke-list{
  background-color:#2f3e46;
}
.center{
  justify-content: center;
}

.car-shadow{
  box-shadow: 11px 9px 10px -4px rgba(0,0,0,0.35);
}